.vscode/

.config/*
!.config/
!.config/gh/
!.config/gh/**
!.config/nvim/
!.config/nvim/**
.config/nvim/lazy-lock.json

.codex/*
!.codex/AGENTS.md

.xdg-data/
.xdg-cache/
.xdg-state/

.DS_Store
.nvimlog
.config/gh/hosts.yml
