[user]
    name = konumaru
    email = konumaru1022@gmail.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    ch = checkout
    br = branch
    a = add -A
    c = commit -m
    s = status
    copilot-commit = !git diff --staged | copilot -p 'Generate a Japanese conventional commit title (one line only).' | tr -d '\\n' | git commit -m \"$(cat)\"

[init]
    defaultBranch = main

[ghq]
    root = ~/Documents/repositories

[delta]
    line-numbers = true
    syntax-theme = Monokai Extended

[url "git@github.com:"]
	insteadOf = https://github.com/
