[user]
	name = konumaru
	email = konumaru1022@gmail.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    ss = status -s
    co = checkout
    br = branch
    a = add -u
    c = commit -m
    firstcom = commit --allow-empty -m \"Inital commit\"

[init]
	defaultBranc = main
	defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[ghq]
	root = ~/Documents/repositories
