.vscode/
.config/.copilot/
.config/autostart/
.config/chromium/
.config/claude/
.config/configstore/
.config/create-next-app-nodejs/
.config/github-copilot/
.config/gh/hosts.yml
.config/iterative/
.config/nextjs-nodejs/
.config/nvm/
.config/turso_cli/
.config/ngrok/ngrok.yml
.DS_Store
