[user]
    name = konumaru
    email = konumaru1022@gmail.com

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    ch = checkout
    br = branch
    a = add -A
    c = commit -m
    s = status

[init]
    defaultBranc = main
    defaultBranch = main

[ghq]
    root = ~/Documents/repositories

[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential]
	helper = store
